{% extends 'common/layout.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
{% endblock css %}
{% block body %}
	<div class="page-header">
      <h3>Dashboard</h3>
    </div>
	<div class="row">
		<div class="col-md-6">
			<form method="POST" action="" role="form">
				{{ form.csrf_token }}
				<div class="form-group">
					<div class="input-daterange input-group input-group-sm" id="datepicker">
						<span class="input-group-addon">Date range</span>
					  	{{ form.start(class_='input-sm form-control') }}
					  	<span class="input-group-addon">to</span>
					  	{{ form.end(class_='input-sm form-control') }}
					  	<span class="input-group-btn">
					  		<button class="btn btn-info" type="submit">Analyse</button>
					  	</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row container">
	  <div class="col-md-4">
	  	<div id="donut-expenses">
		</div>
		<div class='text-center'>
			<h4>Expenses</h4>
		</div>
	  </div>
	  <div class="col-md-4">
	  	<div id="donut-incomes">
		</div>
		<div class='text-center'>
			<h4>Incomes</h4>
		</div>
	  </div>
	</div>
{% endblock body %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<script type="text/javascript">
new Morris.Donut({
  element: 'donut-expenses',
  data: [ {{ donutexpenses | safe }}
  ],
  formatter: function (y, data) { 
  	return Math.floor(y) + ' (' + Math.floor(100 * y / {{ donutexpensessum | safe }}) + '%)'},
  colors: [
	'#2C3E50',
	'#18BC9C',
	'#3498DB',
	'#F39C12',
	'#E74C3C',
	'#7b8a8b',
	'#95a5a6']
});
new Morris.Donut({
  element: 'donut-incomes',
  data: [ {{ donutincomes | safe }}
  ],
  formatter: function (y, data) { 
  	return Math.floor(y) + ' (' + Math.floor(100 * y / {{ donutincomessum | safe }}) + '%)'},
  colors: [
	'#2C3E50',
	'#18BC9C',
	'#3498DB',
	'#F39C12',
	'#E74C3C',
	'#7b8a8b',
	'#95a5a6']
});
$('.input-daterange').datepicker({
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true,
    todayHighlight: true,
    format: "dd/mm/yyyy"
});
</script>
{% endblock javascript %}