{% extends 'base.html' %}
{% block body %}
	<H3>Dashboard</H3>
	<div class="row container">
	  <div class="col-md-4 col-xs-5 ">
	  	<div id="donut-expenses">
		</div>
		<div class='text-center'>
			<h4>Expenses</h4>
		</div>
	  </div>
	  <div class="col-md-4 col-xs-5 ">
	  	<div id="donut-incomes">
		</div>
		<div class='text-center'>
			<h4>Incomes</h4>
		</div>
	  </div>
	</div>
{% endblock body %}
{% block javascript %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<script type="text/javascript">
new Morris.Donut({
  element: 'donut-expenses',
  data: [ {{ donutexpenses | safe }}
  ],
  formatter: function (y, data) { 
  	return y + ' (' + Math.floor(100 * y / {{ donutexpensessum | safe }}) + '%)'},
  colors: [
	'#2C3E50',
	'#18BC9C',
	'#3498DB',
	'#F39C12',
	'#E74C3C',
	'#7b8a8b',
	'#95a5a6']
});
new Morris.Donut({
  element: 'donut-incomes',
  data: [ {{ donutincomes | safe }}
  ],
  formatter: function (y, data) { 
  	return y + ' (' + Math.floor(100 * y / {{ donutincomessum | safe }}) + '%)'},
  colors: [
	'#2C3E50',
	'#18BC9C',
	'#3498DB',
	'#F39C12',
	'#E74C3C',
	'#7b8a8b',
	'#95a5a6']
});
</script>
{% endblock javascript %}