{% extends 'common/layout.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
{% endblock css %}
{% block body %}
	<div class="page-header">
		<h3>Dashboard</h3>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form method="POST" action="" role="form">
				{{ form.csrf_token }}
				<div class="form-group">
					<div class="input-daterange input-group input-group-sm" id="datepicker">
						<span class="input-group-addon">Date range</span>
					  	{{ form.start(class_='input-sm form-control') }}
					  	<span class="input-group-addon">to</span>
					  	{{ form.end(class_='input-sm form-control') }}
					  	<span class="input-group-btn">
					  		<button class="btn btn-info" type="submit">Analyse</button>
					  	</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row container">
	  <div class="col-md-4">
	  	<div id="donut-expenses">
		</div>
		<div class='text-center'>
			<h4>Expenses</h4>
		</div>
	  </div>
	  <div class="col-md-4">
	  	<div id="donut-incomes">
		</div>
		<div class='text-center'>
			<h4>Incomes</h4>
		</div>
	  </div>
	</div>
{% endblock body %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
$('.input-daterange').datepicker({
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true,
    todayHighlight: true,
    format: "dd/mm/yyyy"
});
</script>
{% endblock javascript %}