{% extends 'base.html' %}
{% block body %}
    {{ data | safe }}
{% endblock %}
{% block javascript %}
    <script type='text/javascript'>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });

	    $(document).ready(function(){
		    $('td:last-child').each(function(){
		        var cellVal = parseFloat($(this).text())
		        if(cellVal <= 0)
		            $(this).addClass("danger");
		    });
		});
    </script>
{% endblock %}

