{% extends 'base.html' %}
{% block body %}
    {{ data | safe }}
{% endblock %}
{% block javascript %}
    <script type='text/javascript'>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });

	    $(document).ready(function(){
		    $('td:last-child').each(function(){
		        var cellVal = parseFloat($(this).text())
		        if(cellVal <= 0)
		            $(this).addClass("danger");
		    });
		});
		$("[data-toggle='confirmation']").popConfirm({
	        title: "Delete transaction", // The title of the confirm
	        content: "Are you sure ?", // The message of the confirm
	        placement: "bottom", // The placement of the confirm (Top, Right, Bottom, Left)
	        container: "body", // The html container
	        yesBtn: "Yes",
	        noBtn: "No"
		});
    </script>
{% endblock %}

