{% extends 'base.html' %}
{% block css %}
    <link href="{{ url_for('static', filename='css/bootstrap-dialog.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ data | safe }}
{% endblock %}
{% block javascript %}
	<script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
    <script type='text/javascript'>
	    $(document).ready(function(){
		    $('td:last-child').each(function(){
		        var cellVal = parseFloat($(this).text())
		        if(cellVal <= 0)
		            $(this).addClass("danger");
		    });
		});
        $(document).on("click", ".confirmdelete", function(e) {
            var link = $(this).attr("href"); // "get" the intended link in a var
            e.preventDefault();
            new BootstrapDialog.show({
                type: 'type-danger',
                title: 'Delete Transaction',
                message: 'Are you sure that you want to delete this transaction?',
                buttons: [{ label: 'Cancel',
                            cssClass: 'btn-default',
                            action: function(dialogRef) {
                                dialogRef.close()
                            }}, 
                          { label: 'Yes',
                            cssClass: 'btn-danger',
                            action: function(result) {
                                if (result) {
                                    document.location.href = link;
                                } 
                            }}]
            });
        });
        $(document).on("click", ".transactioninfo", function(e) {
            var link = $(this).attr("href"); // "get" the intended link in a var
            e.preventDefault();
            new BootstrapDialog.show({
                title: 'Info',
                type: 'type-info',
                message: $('<div></div>').load(link)
            });
        });
    </script>
{% endblock %}

