{% extends 'common/layout.html' %}
{% block body %}
    <form method="POST" action="{{ action_url }}" role="form" class="form-horizontal col-xs-12">
    <div class="row">
        <div class="col-xs-7">
	    	<div class="page-header">
	        	<h3>Reconcile transactions</h3>
	        	<h4> <small>difference</small> &nbsp; <span id="test"> {{ diff }} </span> <i class="fa fa-exchange fa-{{ currency }}"></i> </h4>
		    </div>
		</div>
	    <div class="col-xs-5">
            <div class="page-header text-right">
                <div class="btn-group pull-right">
			    	<a href="javascript:history.back()" class="btn btn-default" role="button">Abort</a>
					<button type="submit" class="btn btn-info">Finish</button>
				</div>
            </div>
        </div>
    </div>
    	{{ form.csrf_token }}
		
		{{ data | safe }}
    </form>


{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function () {
	$('button[type="submit"]').attr('disabled', 'disabled');
	checkboxes = document.getElementsByTagName("input"); 
	for (var i = 0; i < checkboxes.length; i++) {
	    var checkbox = checkboxes[i];
	    checkbox.onclick = function() {
	    	var amount = parseFloat(this.parentNode.parentNode.getElementsByTagName("td")[4].textContent);
	    	if($(this).is(':checked')) {
	    		$('#test').text(Math.round(parseFloat($('#test').text()) + amount) * 100 / 100);
	    	} else if(!$(this).is(':checked')) {
	    		$('#test').text(Math.round(parseFloat($('#test').text()) - amount) * 100 / 100);
	    	}
	    	if(Math.round(parseFloat($('#test').text()) * 100) / 100 == 0) {
	           $('button[type="submit"]').removeAttr('disabled');
	        }
	    };
	}
});
</script>
{% endblock %}