{% extends 'common/layout.html' %}
{% block body %}
	<div class="page-header">
		<h3>Scheduled transactions</h3>
	</div>
	{% for transaction in scheduled_transactions.values() %}
	<div class="panel {% if transaction.amount > 0 %}panel-success{% else %}panel-danger{% endif %}">
		<div class="panel-heading">
		    <h3 class="panel-title">{{ transaction.description }}</h3>
		</div>
		<div class="panel-body">
			<div class="row">
		      <div class="col-xs-4">
		        amount:
		      </div>
		      <div class="col-xs-8">
		        {{ transaction.amount }}
		      </div>
		    </div>
			
		</div>
	</div>
	{% endfor %}
{% endblock body %}